*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Righteous', cursive;
    background-color: #ececec;
    color: #385170;
}

h1{
    background-color: black;
    color:aliceblue;
    padding: 10px;
}

.formContainer{
    margin: 20px 50px 0px 50px;
    padding: 10px;
    border-style:dashed;
    display: flex;
    justify-content: center ;
}
.button{
    background-color: #142d4c;
    color:white;
    padding: 20px;
}
.buttonContainer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;
}